# Created by .ignore support plugin (hsz.mobi)
### ignore-scala template
.idea/

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
target/.history
.cache
.lib/

*.class
*.log

